# Dependency directories
node_modules/

# dotenv environment variable files
.env
.env.local
.env.*.local

# Log files
*.log
npm-debug.log*

# Production / Build
dist/
dev-dist/

# Editor files
.vscode/
.idea/
.DS_Store
